body {
  background-color: #f2f2f2;
  margin: 1%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
  display: block;
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
  margin-bottom: 15px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

/* DATE PICKER STUFF */

#date-picker{
  width: inherit;
}

.DateInput.DateInput_1 {
  width: 100%;
}

.SingleDatePickerInput__withBorder {
  border-radius: 3px;
}

.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
  display: block;
}

.SingleDatePicker_1 {
  border: 0.0px solid;
  display: block;
}
